header {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #2b2b31;
    z-index: 101;
}

.header {
    position: relative;
    background-color: #2b2b31;
    z-index: 2;
}